 /* cards css */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 @media only screen and (max-width: 600px) {
    .top-container{
        flex-direction: column !important;
    }
 }

 * {
     font-family: 'Poppins', sans-serif;
 }

 body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #131313;
 }

 .top-container {
     display: flex;
 }

 .container {
     display: flex;
     flex-direction: column;
     position: relative;
     padding: 20px;
 }

 label {
     color: white;
     display: inline;
 }

 .outer-box {
     height: 300px;
     width: 300px;
     padding: 10px;
     overflow: hidden;
 }

 .inner-box {
     margin: 5px;
     height: 290px;
     width: auto;
     background-color: rgb(155, 82, 222);
 }

 img {
     height: inherit;
 }